[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "medflex"]
	path = medflex
	url = https://github.com/jmpsteen/medflex
	shallow = true
	registered = true
